@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital@0;1&family=Qwitcher+Grypen&family=Rancho&family=Righteous&family=Roboto+Mono:wght@500&family=Russo+One&family=Satisfy&display=swap');

body {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
::-webkit-scrollbar{
  display: none;

}